<div class="row">
  <div class="large-2 columns small-3">
    <img src="https://placehold.it/50x50&text=[img]" />
  </div>
  <div class="large-10 columns">
    <p>
      Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
      reprehenderit.
    </p>
  </div>
</div>