<div class="row">
  <div class="col-2">
    <img src="https://placehold.it/50x50&text=[img]" class="card-img" />
  </div>
  <div class="col-10">
    <h6>{{this.displayName}}</h6>
    <p>{{this.text}}</p>
  </div>
</div>