<div class="row">
  <div class="col-2">
    <img src="/img/Pansy.png" class="card-img" />
  </div>
  <div class="col-10">
    <h5>{{this.displayName}}</h5>
    <p>{{this.text}}</p>
    <hr>
  </div>
</div>