<div class="row">
  <div class="large-2 columns small-3">
    <img src="https://placehold.it/80x80&text=[img]" />
  </div>
  <div class="large-10 columns">
    <h4>{{this.[user.username]}} </h4>
    <p>{{this.createdAt}}</p>
    <p>{{this.text}}</p>
    <ul class="inline-list">
      <li><a href="">Reply</a></li>
    </ul>
  </div>
</div>
<hr />