<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="https://placehold.it/80x80&text=[img]" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title">{{this.[user.username]}}</h4>
            <p class="card-text"><small class="text-muted">{{this.createdAt}}</small></p>
            <p class="card-text">{{this.text}}</p>
            <a href="#" class="card-link">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>