<div class="panel">
  <img src="https://placehold.it/300x240&text=[img]" />
  <div class="section-container vertical-nav">
    <section class="section">
      <br />
      <h4 class="title">Firstname Lastname</h4>
      <p>Location</p>
      <p>This is a sample bio section for the selected user.</p>
    </section>
  </div>
</div>