<header>
  <div class="row">
    <div class="large-12 columns">
      {{> header }}
    </div>
  </div>
</header>

<main>
  <div class="row">
    <div class="large-4 columns">
      {{> sidebar }}
    </div>


    <div class="large-8 columns">

      {{#each posts}}
      {{> post }}
      {{/each}}

    </div>
  </div>
</main>

<footer>
  <div class="row">
    <div class="large-12 columns">
      {{> footer }}
    </div>
  </div>
</footer>