<header class="jumbotron container">
  <div class="row">
    <div class="col-12">
      <h1>Buzzer!</h1>
      <p>What's buzzin'?</p>
    </div>
  </div>
</header>

<main class="container">
  <div class="row">
    <div class="col-4">
      <div class="container">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="createPost" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create new buzz!</button>
        </form>
      </div>
    </div>


    <div class="col-8">

      {{#each posts}}
      {{> post }}
      {{/each}}

    </div>
  </div>
</main>

<footer class="container">
  <div class="row">
    <div class="col-12">
      <hr />
      <p>This is the footer partial.</p>
    </div>
  </div>
</footer>