body {
  background-image: url("../public/img/Honeycomb.jpg");
}

img {
  object-fit: contain;
}

h1 {
  font-family: 'Spicy Rice', cursive;
}

/* class */

.jumbotron {
  box-shadow: 5px 6px 0px 3px black;
  width: 73%;
}

.footer {
  color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.list-group-item {
  line-height: 2.5;
}

.col-12 {
  box-shadow: 5px 6px 0px 3px black;
  padding: 0px;
}

.btn {
  box-shadow: 5px 6px 0px 3px black;
}

/* id */

#newBuzzText {
  box-shadow: inset 2px 1px 6px 2px black;
}

#newBuzzDisplayName {
  box-shadow: inset 2px 1px 6px 2px black;
}